<header>
    <nav>
        <a href = "/">Recipes</a>
        <ul>
            <li> <a href="/authors">Authors</a></li>
            <li> <a href="/authors/new">Add author</a></li>
            </ul>
        </ul>
    </nav>
</header>