<h2>Edit recipe</h2>
<form action ="/recipies/<%= recipe.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
<a href = "/recipies"> Cancel</a>
<button type = "submit"> Update</button>
</form>